blinky-lite-dma/flows.json
[
    {
        "id": "5f562f66.a301e",
        "type": "tab",
        "label": "dma",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Blinky-Lite-Tutorial",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "21ff842d.62f36c",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyS0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true,
        "responsetimeout": "10000"
    },
    {
        "id": "79250bf3.365cc4",
        "type": "mqtt-broker",
        "z": "",
        "name": "blinky-lite-06",
        "broker": "10.0.0.1",
        "port": "1883",
        "clientid": "device-message-adapter",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "77ac95b9.d96e8c",
        "type": "serial out",
        "z": "5f562f66.a301e",
        "name": "Teensy",
        "serial": "21ff842d.62f36c",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "a66809de.9e4f08",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Json to Arduino",
        "func": "var sendString = '<topic>' + msg.topic + '</topic><payload>' + msg.payload.toString() + '</payload>';\nreturn {'topic':'topic','payload':sendString};",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "77ac95b9.d96e8c"
            ]
        ]
    },
    {
        "id": "1b4460c6.ce06ef",
        "type": "mqtt in",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "bake1/ui/#",
        "qos": "0",
        "broker": "79250bf3.365cc4",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "a22a3a24.71b178"
            ]
        ]
    },
    {
        "id": "a22a3a24.71b178",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Strip bake1/ui/ from topic",
        "func": "msg.topic = msg.topic.substring(msg.topic.indexOf('bake1/ui/') + 9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "a66809de.9e4f08"
            ]
        ]
    },
    {
        "id": "2ed74acd.ba7a86",
        "type": "inject",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "getParameters",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "a66809de.9e4f08"
            ]
        ]
    },
    {
        "id": "e1b009f8.54e3c8",
        "type": "inject",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "setQEnable",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1.2",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "a66809de.9e4f08"
            ]
        ]
    },
    {
        "id": "f0d3d118.9d6e4",
        "type": "inject",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "setQTop",
        "payload": "128",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "a66809de.9e4f08"
            ]
        ]
    },
    {
        "id": "ae4832e3.8167f",
        "type": "serial in",
        "z": "5f562f66.a301e",
        "name": "Teensy",
        "serial": "21ff842d.62f36c",
        "x": 70,
        "y": 780,
        "wires": [
            [
                "db5238ac.522718"
            ]
        ]
    },
    {
        "id": "db5238ac.522718",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Arduino to JSON",
        "func": "var end = msg.payload.indexOf(\"\\n\");\nvar inputString = msg.payload.substring(0,end);\nvar inputTopic = inputString.substring(inputString.indexOf(\"<topic>\") + 7, inputString.indexOf(\"</topic>\"));\nvar inputPayload = inputString.substring(inputString.indexOf(\"<payload>\") + 9, inputString.indexOf(\"</payload>\"));\nreturn {'topic':inputTopic, 'payload':inputPayload};",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 780,
        "wires": [
            [
                "6c23824c.d2a9bc"
            ]
        ]
    },
    {
        "id": "de47dfdd.77859",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Add bake1/dma/ to topic",
        "func": "msg.topic = 'bake1/dma/' + msg.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 800,
        "wires": [
            [
                "b466e887.d9fb58"
            ]
        ]
    },
    {
        "id": "b466e887.d9fb58",
        "type": "mqtt out",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "79250bf3.365cc4",
        "x": 1090,
        "y": 800,
        "wires": []
    },
    {
        "id": "b0795ef3.c662a",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get vAcOutMeasAvg",
        "func": "if (msg.topic != 'vAcOutMeasAvg') return null;\nmsg.payload = 0.4253859 * msg.payload + 9;\nmsg.payload = Math.round(100 * msg.payload) / 100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 820,
        "wires": [
            [
                "de47dfdd.77859",
                "ef4bfca3.0a50f"
            ]
        ]
    },
    {
        "id": "a50496dd.749f68",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get iAcOutMeasAvg",
        "func": "if (msg.topic != 'iAcOutMeasAvg') return null;\nmsg.payload = 0.0482248 * msg.payload - 37.76;\nmsg.payload = Math.round(100 * msg.payload) / 100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 940,
        "wires": [
            [
                "de47dfdd.77859",
                "ef4bfca3.0a50f"
            ]
        ]
    },
    {
        "id": "ef4bfca3.0a50f",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "calc Power",
        "func": "context.set(msg.topic,msg.payload);\nvar power = context.get('vAcOutMeasAvg') * context.get('iAcOutMeasAvg');\npower = Math.round(100.0 * power) / 100.0;\nreturn {'topic':'power', 'payload':power};",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 880,
        "wires": [
            [
                "de47dfdd.77859"
            ]
        ]
    },
    {
        "id": "93d5be6d.28d3d",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get tempMeas1Avg",
        "func": "if (msg.topic != 'tempMeas1Avg') return null;\nmsg.payload = 0.4135 * msg.payload + 15.47;\nmsg.payload = Math.round(100 * msg.payload) / 100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 980,
        "wires": [
            [
                "de47dfdd.77859"
            ]
        ]
    },
    {
        "id": "e1f804f7.5289c8",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get tempMeas1Avg",
        "func": "if (msg.topic != 'tempMeas2Avg') return null;\nmsg.payload = .4135 * msg.payload + 15.47;\nmsg.payload = Math.round(100 * msg.payload) / 100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 1020,
        "wires": [
            [
                "de47dfdd.77859"
            ]
        ]
    },
    {
        "id": "1dd436a0.aed269",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get overI",
        "func": "if (msg.topic != 'overI') return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 480,
        "wires": [
            [
                "de47dfdd.77859"
            ]
        ]
    },
    {
        "id": "3f99e136.2ca8de",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get qTop",
        "func": "if (msg.topic != 'qTop') return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 440,
        "wires": [
            [
                "de47dfdd.77859"
            ]
        ]
    },
    {
        "id": "d692a38f.e1f6",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get qEnable",
        "func": "if (msg.topic != 'qEnable') return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "de47dfdd.77859"
            ]
        ]
    },
    {
        "id": "d74dce87.92b2e",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get blinky",
        "func": "if (msg.topic != 'blinky') return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 360,
        "wires": [
            [
                "de47dfdd.77859"
            ]
        ]
    },
    {
        "id": "6c01344c.1067fc",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get qTopRampDelay",
        "func": "if (msg.topic != 'qTopRampDelay') return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 520,
        "wires": [
            [
                "de47dfdd.77859"
            ]
        ]
    },
    {
        "id": "27b7ab4f.189c94",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get nsamples",
        "func": "if (msg.topic != 'nsamples') return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 560,
        "wires": [
            [
                "de47dfdd.77859"
            ]
        ]
    },
    {
        "id": "d65936f1.8864c8",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get heartBeatRate",
        "func": "if (msg.topic != 'heartBeatRate') return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 600,
        "wires": [
            [
                "de47dfdd.77859"
            ]
        ]
    },
    {
        "id": "3914b035.0a65d",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get qTopRampDelay",
        "func": "if (msg.topic != 'qTopRampDelay') return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 640,
        "wires": [
            [
                "de47dfdd.77859"
            ]
        ]
    },
    {
        "id": "9b07e47f.1b1228",
        "type": "debug",
        "z": "5f562f66.a301e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1020,
        "y": 660,
        "wires": []
    },
    {
        "id": "6c23824c.d2a9bc",
        "type": "link out",
        "z": "5f562f66.a301e",
        "name": "Get Teensy",
        "links": [
            "ae92d149.bbda7",
            "b32a32cf.fbbfb",
            "6f31ee92.07baa",
            "5b2974c3.16a0dc",
            "9a468bb0.4f9918",
            "18f560bf.d5f6cf",
            "cde1df66.679e",
            "296ed0ea.e1e1e",
            "ff1045bc.7d8598",
            "ae6e6297.2bea4",
            "8cb7b73d.ceb0c8",
            "967d5682.d5a8a8",
            "9b000f5e.6f061",
            "e2656ca1.fd8de",
            "f11660c1.1cc88"
        ],
        "x": 355,
        "y": 780,
        "wires": []
    },
    {
        "id": "ae92d149.bbda7",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "6c23824c.d2a9bc"
        ],
        "x": 415,
        "y": 360,
        "wires": [
            [
                "d74dce87.92b2e"
            ]
        ]
    },
    {
        "id": "b32a32cf.fbbfb",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "6c23824c.d2a9bc"
        ],
        "x": 415,
        "y": 400,
        "wires": [
            [
                "d692a38f.e1f6"
            ]
        ]
    },
    {
        "id": "6f31ee92.07baa",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "6c23824c.d2a9bc"
        ],
        "x": 415,
        "y": 440,
        "wires": [
            [
                "3f99e136.2ca8de"
            ]
        ]
    },
    {
        "id": "5b2974c3.16a0dc",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "6c23824c.d2a9bc"
        ],
        "x": 415,
        "y": 480,
        "wires": [
            [
                "1dd436a0.aed269"
            ]
        ]
    },
    {
        "id": "9a468bb0.4f9918",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "6c23824c.d2a9bc"
        ],
        "x": 415,
        "y": 520,
        "wires": [
            [
                "6c01344c.1067fc"
            ]
        ]
    },
    {
        "id": "18f560bf.d5f6cf",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "6c23824c.d2a9bc"
        ],
        "x": 415,
        "y": 560,
        "wires": [
            [
                "27b7ab4f.189c94"
            ]
        ]
    },
    {
        "id": "cde1df66.679e",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "6c23824c.d2a9bc"
        ],
        "x": 415,
        "y": 600,
        "wires": [
            [
                "d65936f1.8864c8"
            ]
        ]
    },
    {
        "id": "296ed0ea.e1e1e",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "6c23824c.d2a9bc"
        ],
        "x": 415,
        "y": 640,
        "wires": [
            [
                "3914b035.0a65d"
            ]
        ]
    },
    {
        "id": "ff1045bc.7d8598",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "6c23824c.d2a9bc"
        ],
        "x": 415,
        "y": 820,
        "wires": [
            [
                "b0795ef3.c662a"
            ]
        ]
    },
    {
        "id": "ae6e6297.2bea4",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "6c23824c.d2a9bc"
        ],
        "x": 415,
        "y": 940,
        "wires": [
            [
                "a50496dd.749f68"
            ]
        ]
    },
    {
        "id": "8cb7b73d.ceb0c8",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "6c23824c.d2a9bc"
        ],
        "x": 415,
        "y": 980,
        "wires": [
            [
                "93d5be6d.28d3d"
            ]
        ]
    },
    {
        "id": "967d5682.d5a8a8",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "6c23824c.d2a9bc"
        ],
        "x": 415,
        "y": 1020,
        "wires": [
            [
                "e1f804f7.5289c8"
            ]
        ]
    },
    {
        "id": "daacde94.9d2ee",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get maxInterruptCounts",
        "func": "if (msg.topic != 'maxInterruptCounts') return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 680,
        "wires": [
            [
                "de47dfdd.77859"
            ]
        ]
    },
    {
        "id": "e2656ca1.fd8de",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "6c23824c.d2a9bc"
        ],
        "x": 415,
        "y": 680,
        "wires": [
            [
                "daacde94.9d2ee"
            ]
        ]
    },
    {
        "id": "a0daf2ef.8d6f1",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Get qTopDropPerInterrupt",
        "func": "if (msg.topic != 'qTopDropPerInterrupt') return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 720,
        "wires": [
            [
                "de47dfdd.77859"
            ]
        ]
    },
    {
        "id": "f11660c1.1cc88",
        "type": "link in",
        "z": "5f562f66.a301e",
        "name": "",
        "links": [
            "6c23824c.d2a9bc"
        ],
        "x": 415,
        "y": 720,
        "wires": [
            [
                "a0daf2ef.8d6f1"
            ]
        ]
    }
]