flows.json
[{"id":"a7b9d689.b8a5e8","type":"tab","label":"user-interface","disabled":false,"info":""},{"id":"6ad7c930.1a06b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Bakeout-v2","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5c27d05d.e787b","type":"ui_tab","z":"","name":"Bakeout-V2","icon":"dashboard"},{"id":"7e5fdaac.e9e804","type":"mqtt-broker","z":"","name":"bakeout-v2","broker":"broker.shiftr.io","port":"1883","clientid":"user-interface2","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd43730b.039a3","type":"ui_group","z":"","name":"Bakeout Test","tab":"5c27d05d.e787b","disp":true,"width":"10","collapse":false},{"id":"a827c486.9e43f8","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"getLoopTime","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"1","x":590,"y":500,"wires":[["65b71d62.299bb4"]]},{"id":"a773cc3d.b845e","type":"mqtt in","z":"a7b9d689.b8a5e8","name":"","topic":"bake1/dma/#","qos":"0","broker":"7e5fdaac.e9e804","x":90,"y":120,"wires":[["dec77eb.8a74a8"]]},{"id":"c9aa9833.05e2d8","type":"mqtt out","z":"a7b9d689.b8a5e8","name":"","topic":"","qos":"0","retain":"false","broker":"7e5fdaac.e9e804","x":1070,"y":540,"wires":[]},{"id":"1bd89e96.8fb631","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"getQTop","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":570,"y":560,"wires":[["65b71d62.299bb4"]]},{"id":"ed493aff.9e2ab8","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"getQEnable","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":580,"y":620,"wires":[["65b71d62.299bb4"]]},{"id":"dec77eb.8a74a8","type":"function","z":"a7b9d689.b8a5e8","name":"Strip /bake1/dma/ from topic","func":"msg.topic = msg.topic.substring(msg.topic.indexOf('bake1/dma/') + 10);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["ecdca90.750ec58","fbd05019.3d6b6"]]},{"id":"16f814fc.aaf17b","type":"function","z":"a7b9d689.b8a5e8","name":"Toggle QEnable","func":"msg.topic = 'setQEnable';\nvar onOff = 0;\nif (msg.payload) onOff = 1\nmsg.payload = onOff;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":120,"wires":[["65b71d62.299bb4"]]},{"id":"65b71d62.299bb4","type":"function","z":"a7b9d689.b8a5e8","name":"Add bake1/ui/ to topic","func":"msg.topic = 'bake1/ui/' + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":540,"wires":[["c9aa9833.05e2d8"]]},{"id":"ecdca90.750ec58","type":"function","z":"a7b9d689.b8a5e8","name":"get qTop","func":"if (msg.topic != 'qTop') return null;\nvar qTop = Number(msg.payload);\nflow.set('qTop', qTop);\nmsg.payload = qTop;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":180,"wires":[[]]},{"id":"cb3c540c.c14798","type":"function","z":"a7b9d689.b8a5e8","name":"Scale QTop","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":180,"wires":[["65b71d62.299bb4","6ca0c822.b30eb8"]]},{"id":"fbd05019.3d6b6","type":"function","z":"a7b9d689.b8a5e8","name":"get loopTime","func":"if (msg.topic != 'loopTime') return null;\nvar loopTime = Number(msg.payload);\nflow.set('loopTime', loopTime);\nmsg.payload = loopTime;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":60,"wires":[["9d86012b.7e9db"]]},{"id":"9d86012b.7e9db","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":1,"width":0,"height":0,"name":"","label":"Loop Time","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":60,"wires":[]},{"id":"6e614ddd.0f0804","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"getVAcMeasOutAvg","payload":"0","payloadType":"num","repeat":"5","crontab":"","once":true,"onceDelay":"3","x":610,"y":660,"wires":[[]]},{"id":"40544b39.e20a94","type":"function","z":"a7b9d689.b8a5e8","name":"get vAcMeasOutAvg ","func":"if (msg.topic != 'vAcMeasOutAvg') return null;\nvar vAcMeasOutAvg = Number(msg.payload);\nflow.set('vAcMeasOutAvg', loopTime);\nmsg.payload = vAcMeasOutAvg;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["301214c0.0505ac"]]},{"id":"301214c0.0505ac","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":4,"width":0,"height":0,"name":"","label":"V ac Out","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":240,"wires":[]},{"id":"6ca0c822.b30eb8","type":"debug","z":"a7b9d689.b8a5e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":80,"wires":[]},{"id":"e9f8a0e9.5e14c","type":"ui_switch","z":"a7b9d689.b8a5e8","name":"","label":"switch","group":"cd43730b.039a3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"setQEnable","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":120,"wires":[["16f814fc.aaf17b"]]},{"id":"150ddf2e.4b8371","type":"ui_slider","z":"a7b9d689.b8a5e8","name":"","label":"slider","group":"cd43730b.039a3","order":0,"width":0,"height":0,"passthru":true,"topic":"setQTop","min":0,"max":"255","step":1,"x":710,"y":180,"wires":[["cb3c540c.c14798"]]}]