flows.json
[{"id":"a7b9d689.b8a5e8","type":"tab","label":"user-interface","disabled":false,"info":""},{"id":"6ad7c930.1a06b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"teensy-pi0-platform","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5c27d05d.e787b","type":"ui_tab","z":"","name":"teensy-pi0-platform","icon":"dashboard"},{"id":"7e5fdaac.e9e804","type":"mqtt-broker","z":"","name":"","broker":"broker.shiftr.io","port":"1883","clientid":"user-interface","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd43730b.039a3","type":"ui_group","z":"","name":"Loop Time","tab":"5c27d05d.e787b","disp":true,"width":"6","collapse":false},{"id":"697b920f.512b2c","type":"mqtt out","z":"a7b9d689.b8a5e8","name":"","topic":"getLoopTime","qos":"0","retain":"false","broker":"7e5fdaac.e9e804","x":350,"y":40,"wires":[]},{"id":"a827c486.9e43f8","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"getLoopTime","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":130,"y":40,"wires":[["697b920f.512b2c"]]},{"id":"a773cc3d.b845e","type":"mqtt in","z":"a7b9d689.b8a5e8","name":"","topic":"loopTime","qos":"0","broker":"7e5fdaac.e9e804","x":80,"y":120,"wires":[["15be6421.81472c"]]},{"id":"78eb3d54.c88fc4","type":"debug","z":"a7b9d689.b8a5e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":120,"wires":[]},{"id":"15be6421.81472c","type":"function","z":"a7b9d689.b8a5e8","name":"Convert to Number","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["78eb3d54.c88fc4","2e6be7a2.c707d8","720bea1b.4a0cd4"]]},{"id":"2e6be7a2.c707d8","type":"ui_gauge","z":"a7b9d689.b8a5e8","name":"","group":"cd43730b.039a3","order":0,"width":0,"height":0,"gtype":"gage","title":"Loop Time","label":"micoSeconds","format":"{{value}}","min":"13","max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":180,"wires":[]},{"id":"720bea1b.4a0cd4","type":"ui_chart","z":"a7b9d689.b8a5e8","name":"","group":"cd43730b.039a3","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":490,"y":240,"wires":[[],[]]}]