blinky-lite-ui/flows.json
[{"id":"a7b9d689.b8a5e8","type":"tab","label":"user-interface","disabled":false,"info":""},{"id":"6ad7c930.1a06b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Test Platform","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5c27d05d.e787b","type":"ui_tab","z":"","name":"Test Platform","icon":"dashboard"},{"id":"7e5fdaac.e9e804","type":"mqtt-broker","z":"","name":"blinky-lite","broker":"localhost","port":"1883","clientid":"user-interface","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd43730b.039a3","type":"ui_group","z":"","name":"Test Platform","tab":"5c27d05d.e787b","disp":true,"width":"6","collapse":false},{"id":"a773cc3d.b845e","type":"mqtt in","z":"a7b9d689.b8a5e8","name":"","topic":"bake1/dma/#","qos":"0","broker":"7e5fdaac.e9e804","x":90,"y":180,"wires":[["dec77eb.8a74a8"]]},{"id":"c9aa9833.05e2d8","type":"mqtt out","z":"a7b9d689.b8a5e8","name":"","topic":"","qos":"0","retain":"false","broker":"7e5fdaac.e9e804","x":1370,"y":120,"wires":[]},{"id":"1bd89e96.8fb631","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"getQTop","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":970,"y":40,"wires":[["65b71d62.299bb4"]]},{"id":"ed493aff.9e2ab8","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"getQEnable","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":960,"y":100,"wires":[["65b71d62.299bb4"]]},{"id":"dec77eb.8a74a8","type":"function","z":"a7b9d689.b8a5e8","name":"Strip /bake1/dma/ from topic","func":"msg.topic = msg.topic.substring(msg.topic.indexOf('bake1/dma/') + 10);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["ecdca90.750ec58","fbd05019.3d6b6","b57744f.2c979b8","40544b39.e20a94","e24f0c76.abb02","e66fb776.3c2f18","2b64ccbe.9af8c4","27d97eb6.56e172","68732b1e.19f124","175a82e6.5907fd","a5fe6856.690628","a152c2d6.8211e"]]},{"id":"16f814fc.aaf17b","type":"function","z":"a7b9d689.b8a5e8","name":"Toggle QEnable","func":"msg.topic = 'setQEnable';\nvar onOff = 0;\nif (msg.payload) onOff = 1\nmsg.payload = onOff;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":160,"wires":[["65b71d62.299bb4"]]},{"id":"65b71d62.299bb4","type":"function","z":"a7b9d689.b8a5e8","name":"Add bake1/ui/ to topic","func":"msg.topic = 'bake1/ui/' + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":120,"wires":[["c9aa9833.05e2d8"]]},{"id":"ecdca90.750ec58","type":"function","z":"a7b9d689.b8a5e8","name":"get qTop","func":"if (msg.topic != 'qTop') return null;\nvar qTop = Number(msg.payload);\nflow.set('qTop', qTop);\nmsg.payload = qTop;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":220,"wires":[["150ddf2e.4b8371"]]},{"id":"cb3c540c.c14798","type":"function","z":"a7b9d689.b8a5e8","name":"Scale QTop","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":220,"wires":[["65b71d62.299bb4"]]},{"id":"fbd05019.3d6b6","type":"function","z":"a7b9d689.b8a5e8","name":"get loopTime","func":"if (msg.topic != 'loopTime') return null;\nvar loopTime = Number(msg.payload);\nflow.set('loopTime', loopTime);\nmsg.payload = loopTime;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["9d86012b.7e9db"]]},{"id":"9d86012b.7e9db","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":6,"width":0,"height":0,"name":"","label":"Loop Time","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":100,"wires":[]},{"id":"40544b39.e20a94","type":"function","z":"a7b9d689.b8a5e8","name":"get vAcMeasOutAvg ","func":"if (msg.topic != 'vAcOutMeasAvg') return null;\nvar vAcMeasOutAvg = Number(msg.payload);\nflow.set('vAcMeasOutAvg', vAcMeasOutAvg);\nmsg.payload = vAcMeasOutAvg;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":280,"wires":[["301214c0.0505ac"]]},{"id":"301214c0.0505ac","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":7,"width":0,"height":0,"name":"","label":"V ac Out","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":280,"wires":[]},{"id":"6ca0c822.b30eb8","type":"debug","z":"a7b9d689.b8a5e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":700,"wires":[]},{"id":"e9f8a0e9.5e14c","type":"ui_switch","z":"a7b9d689.b8a5e8","name":"","label":"Enable","group":"cd43730b.039a3","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"setQEnable","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":160,"wires":[["16f814fc.aaf17b"]]},{"id":"150ddf2e.4b8371","type":"ui_slider","z":"a7b9d689.b8a5e8","name":"","label":"PWM","group":"cd43730b.039a3","order":3,"width":0,"height":0,"passthru":false,"topic":"setQTop","min":0,"max":"256","step":1,"x":750,"y":220,"wires":[["cb3c540c.c14798"]]},{"id":"b57744f.2c979b8","type":"function","z":"a7b9d689.b8a5e8","name":"get qEnable","func":"if (msg.topic != 'qEnable') return null;\nvar qEnable = Number(msg.payload);\nflow.set('qEnable', qEnable);\nmsg.payload = false;\nif (qEnable == 1) msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["e9f8a0e9.5e14c"]]},{"id":"4edb8933.fe50b8","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":1,"width":"6","height":"1","name":"Blinky","label":"","format":"<font color={{(msg.payload == false) ? '#ff0000' : '#333333'}} size='6' ><i class=\"fa fa-heart\"></i></font>","layout":"col-center","x":750,"y":40,"wires":[]},{"id":"94d3001d.c51db","type":"ui_template","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","name":"Does Nothing","order":13,"width":"0","height":"0","format":"<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Does Nothing</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":160,"y":600,"wires":[[]]},{"id":"e24f0c76.abb02","type":"function","z":"a7b9d689.b8a5e8","name":"get blinky","func":"if (msg.topic != 'blinky') return null;\nvar blinky = Number(msg.payload);\nflow.set('blinky', blinky);\nmsg.payload = false;\nif (blinky == 1) msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":40,"wires":[["4edb8933.fe50b8"]]},{"id":"e66fb776.3c2f18","type":"function","z":"a7b9d689.b8a5e8","name":"get iAcMeasOutAvg ","func":"if (msg.topic != 'iAcOutMeasAvg') return null;\nvar iAcMeasOutAvg = Number(msg.payload);\nflow.set('iAcMeasOutAvg', iAcMeasOutAvg);\nmsg.payload = iAcMeasOutAvg;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["8bcd66e5.4c3618"]]},{"id":"8bcd66e5.4c3618","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":8,"width":0,"height":0,"name":"","label":"I ac Out","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":340,"wires":[]},{"id":"2b64ccbe.9af8c4","type":"function","z":"a7b9d689.b8a5e8","name":"get tempMeas1Avg ","func":"if (msg.topic != 'tempMeas1Avg') return null;\nvar tempMeas1Avg = Number(msg.payload);\nflow.set('tempMeas1Avg', tempMeas1Avg);\nmsg.payload = tempMeas1Avg;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":460,"wires":[["c69f50ec.e83bb"]]},{"id":"c69f50ec.e83bb","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":10,"width":0,"height":0,"name":"","label":"Temp 1","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":460,"wires":[]},{"id":"27d97eb6.56e172","type":"function","z":"a7b9d689.b8a5e8","name":"get tempMeas2Avg ","func":"if (msg.topic != 'tempMeas2Avg') return null;\nvar tempMeas2Avg = Number(msg.payload);\nflow.set('tempMeas2Avg', tempMeas2Avg);\nmsg.payload = tempMeas2Avg;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["1b7c1a77.673066"]]},{"id":"1b7c1a77.673066","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":11,"width":0,"height":0,"name":"","label":"Temp 2","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":520,"wires":[]},{"id":"68732b1e.19f124","type":"function","z":"a7b9d689.b8a5e8","name":"get tempMeas3Avg ","func":"if (msg.topic != 'tempMeas3Avg') return null;\nvar tempMeas3Avg = Number(msg.payload);\nflow.set('tempMeas3Avg', tempMeas3Avg);\nmsg.payload = tempMeas3Avg;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":580,"wires":[["2b1bb240.efe02e"]]},{"id":"2b1bb240.efe02e","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":12,"width":0,"height":0,"name":"","label":"Temp 3","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":580,"wires":[]},{"id":"175a82e6.5907fd","type":"function","z":"a7b9d689.b8a5e8","name":"get powerAvg ","func":"if (msg.topic != 'powerAvg') return null;\nvar powerAvg = Number(msg.payload);\nflow.set('powerAvg', powerAvg);\nmsg.payload = powerAvg;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":400,"wires":[["10b3a8cb.acd777"]]},{"id":"10b3a8cb.acd777","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":9,"width":0,"height":0,"name":"","label":"Power","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":400,"wires":[]},{"id":"4826d29b.6a635c","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":4,"width":"6","height":"1","name":"overITrip","label":"Over Current Trip","format":"<font color={{(msg.payload == true) ? '#ff0000' : '#333333'}} size='6' ><i class=\"fa fa-circle\"></i></font>","layout":"row-spread","x":760,"y":640,"wires":[]},{"id":"a5fe6856.690628","type":"function","z":"a7b9d689.b8a5e8","name":"get overITrip","func":"if (msg.topic != 'overITrip') return null;\nvar overITrip = Number(msg.payload);\nflow.set('overITrip', overITrip);\nmsg.payload = false;\nif (overITrip == 1) msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":640,"wires":[["4826d29b.6a635c"]]},{"id":"2bbf7f89.edbfb","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":5,"width":"6","height":"1","name":"overILeakTrip","label":"Over Current Leak Trip","format":"<font color={{(msg.payload == true) ? '#ff0000' : '#333333'}} size='6' ><i class=\"fa fa-circle\"></i></font>","layout":"row-spread","x":780,"y":700,"wires":[]},{"id":"a152c2d6.8211e","type":"function","z":"a7b9d689.b8a5e8","name":"get overILeakTrip","func":"if (msg.topic != 'overILeakTrip') return null;\nvar overILeakTrip = Number(msg.payload);\nflow.set('overILeakTrip', overILeakTrip);\nmsg.payload = false;\nif (overILeakTrip == 1) msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":700,"wires":[["2bbf7f89.edbfb"]]},{"id":"3f42a857.022908","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"getOverITrip","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":960,"y":280,"wires":[["65b71d62.299bb4"]]},{"id":"ce0805ba.de0ba8","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"getOverILeakTrip","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":950,"y":340,"wires":[["65b71d62.299bb4"]]}]