blinky-lite-ui/flows.json
[{"id":"a7b9d689.b8a5e8","type":"tab","label":"user-interface","disabled":false,"info":""},{"id":"6ad7c930.1a06b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Bakeout","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5c27d05d.e787b","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":1},{"id":"7e5fdaac.e9e804","type":"mqtt-broker","z":"","name":"blinky-lite","broker":"localhost","port":"1883","clientid":"user-interface","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd43730b.039a3","type":"ui_group","z":"","name":"Temperatures","tab":"5c27d05d.e787b","order":5,"disp":true,"width":"6","collapse":true},{"id":"d201e143.6d2","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"e0ca25d8.078db8","type":"ui_group","z":"","name":"PWM","tab":"5c27d05d.e787b","order":2,"disp":true,"width":"6","collapse":true},{"id":"3d039f3b.3b37e","type":"ui_group","z":"","name":"HeartBeat","tab":"5c27d05d.e787b","order":1,"disp":true,"width":"6","collapse":true},{"id":"1210ff6c.deb381","type":"ui_group","z":"","name":"Interlocks","tab":"5c27d05d.e787b","order":3,"disp":true,"width":"6","collapse":true},{"id":"3ed7ea5d.cf28d6","type":"ui_group","z":"","name":"Power","tab":"5c27d05d.e787b","order":4,"disp":true,"width":"6","collapse":true},{"id":"bf965a48.bca8e8","type":"ui_group","z":"","name":"Misc.","tab":"5c27d05d.e787b","order":7,"disp":true,"width":"6","collapse":true},{"id":"e0529c1.49c216","type":"ui_group","z":"","name":"Interlock Settings","tab":"5c27d05d.e787b","order":6,"disp":true,"width":"6","collapse":true},{"id":"382d0ba9.2118c4","type":"ui_group","z":"","name":"Voltage","tab":"d201e143.6d2","order":2,"disp":true,"width":"6","collapse":true},{"id":"bdae737b.c2c4d","type":"ui_group","z":"","name":"Current","tab":"d201e143.6d2","order":3,"disp":true,"width":"6","collapse":true},{"id":"e91cdb34.bdc548","type":"ui_group","z":"","name":"Power","tab":"d201e143.6d2","order":4,"disp":true,"width":"6","collapse":true},{"id":"19796e0f.0261a2","type":"ui_group","z":"","name":"Temperature","tab":"d201e143.6d2","order":5,"disp":true,"width":"6","collapse":true},{"id":"d3ab97bb.529ea8","type":"ui_group","z":"","name":"Reset","tab":"d201e143.6d2","order":6,"disp":true,"width":"6","collapse":true},{"id":"a773cc3d.b845e","type":"mqtt in","z":"a7b9d689.b8a5e8","name":"","topic":"bake1/dma/#","qos":"0","broker":"7e5fdaac.e9e804","x":90,"y":800,"wires":[["dec77eb.8a74a8"]]},{"id":"c9aa9833.05e2d8","type":"mqtt out","z":"a7b9d689.b8a5e8","name":"","topic":"","qos":"0","retain":"false","broker":"7e5fdaac.e9e804","x":1530,"y":140,"wires":[]},{"id":"1bd89e96.8fb631","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"getParameters","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1.5","x":1050,"y":100,"wires":[["65b71d62.299bb4"]]},{"id":"dec77eb.8a74a8","type":"function","z":"a7b9d689.b8a5e8","name":"Strip /bake1/dma/ from topic","func":"msg.topic = msg.topic.substring(msg.topic.indexOf('bake1/dma/') + 10);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":800,"wires":[["59464e1c.e0ede"]]},{"id":"16f814fc.aaf17b","type":"function","z":"a7b9d689.b8a5e8","name":"Toggle QEnable","func":"msg.topic = 'setQEnable';\nvar onOff = 0;\nif (msg.payload) onOff = 1\nmsg.payload = onOff;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":140,"wires":[["65b71d62.299bb4"]]},{"id":"65b71d62.299bb4","type":"function","z":"a7b9d689.b8a5e8","name":"Add bake1/ui/ to topic","func":"msg.topic = 'bake1/ui/' + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":140,"wires":[["c9aa9833.05e2d8"]]},{"id":"ecdca90.750ec58","type":"function","z":"a7b9d689.b8a5e8","name":"get qTop","func":"if (msg.topic != 'qTop') return null;\nvar qTop = Number(msg.payload);\nmsg.payload = qTop;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":780,"wires":[["222599e5.7a6816"]]},{"id":"cb3c540c.c14798","type":"function","z":"a7b9d689.b8a5e8","name":"Scale QTop","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":200,"wires":[["65b71d62.299bb4"]]},{"id":"40544b39.e20a94","type":"function","z":"a7b9d689.b8a5e8","name":"get vAcMeasOutAvg ","func":"if (msg.topic != 'vAcOutMeasAvg') return null;\nvar vAcMeasOutAvg = Number(msg.payload);\nmsg.payload = vAcMeasOutAvg;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":840,"wires":[["301214c0.0505ac","e3ef0d7b.80341"]]},{"id":"301214c0.0505ac","type":"ui_text","z":"a7b9d689.b8a5e8","group":"3ed7ea5d.cf28d6","order":3,"width":0,"height":0,"name":"","label":"V ac Out","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":840,"wires":[]},{"id":"e9f8a0e9.5e14c","type":"ui_switch","z":"a7b9d689.b8a5e8","name":"","label":"Set Enable","group":"e0ca25d8.078db8","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"setQEnable","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":140,"wires":[["16f814fc.aaf17b","f1617fbd.7b1c6"]]},{"id":"b57744f.2c979b8","type":"function","z":"a7b9d689.b8a5e8","name":"get qEnable","func":"if (msg.topic != 'qEnable') return null;\nvar qEnableNumber = Number(msg.payload);\nvar qEnable = false;\nif (qEnableNumber == 1) qEnable = true;\nreturn {'topic':'qEnable', 'payload':qEnable};","outputs":1,"noerr":0,"x":690,"y":720,"wires":[["6dc164a2.ee30dc"]]},{"id":"4edb8933.fe50b8","type":"ui_text","z":"a7b9d689.b8a5e8","group":"3d039f3b.3b37e","order":1,"width":"6","height":"1","name":"Blinky","label":"","format":"<font color={{(msg.payload == false) ? '#ff0000' : '#333333'}} size='6' ><i class=\"fa fa-heart\"></i></font>","layout":"col-center","x":1070,"y":660,"wires":[]},{"id":"94d3001d.c51db","type":"ui_template","z":"a7b9d689.b8a5e8","group":"d3ab97bb.529ea8","name":"Reset","order":5,"width":"0","height":"0","format":"<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:[]})\">Reset</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1210,"y":1240,"wires":[["2ca85c4b.6d5f24","a05caf91.2605","8589e2d5.7e2fa","e3ef0d7b.80341"]]},{"id":"e24f0c76.abb02","type":"function","z":"a7b9d689.b8a5e8","name":"get blinky","func":"if (msg.topic != 'blinky') return null;\nvar blinky = Number(msg.payload);\nmsg.payload = false;\nif (blinky == 1) msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":660,"wires":[["4edb8933.fe50b8"]]},{"id":"e66fb776.3c2f18","type":"function","z":"a7b9d689.b8a5e8","name":"get iAcMeasOutAvg ","func":"if (msg.topic != 'iAcOutMeasAvg') return null;\nvar iAcMeasOutAvg = Number(msg.payload);\nmsg.payload = iAcMeasOutAvg;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":900,"wires":[["8bcd66e5.4c3618","8589e2d5.7e2fa"]]},{"id":"8bcd66e5.4c3618","type":"ui_text","z":"a7b9d689.b8a5e8","group":"3ed7ea5d.cf28d6","order":4,"width":0,"height":0,"name":"","label":"I ac Out","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":900,"wires":[]},{"id":"2b64ccbe.9af8c4","type":"function","z":"a7b9d689.b8a5e8","name":"get tempMeas1Avg ","func":"if (msg.topic != 'tempMeas1Avg') return null;\nvar tempMeas1Avg = Number(msg.payload);\nmsg.payload = tempMeas1Avg;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1020,"wires":[["c69f50ec.e83bb","2ca85c4b.6d5f24"]]},{"id":"c69f50ec.e83bb","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":6,"width":0,"height":0,"name":"","label":"Temp 1","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":1020,"wires":[]},{"id":"27d97eb6.56e172","type":"function","z":"a7b9d689.b8a5e8","name":"get tempMeas2Avg ","func":"if (msg.topic != 'tempMeas2Avg') return null;\nvar tempMeas2Avg = Number(msg.payload);\nmsg.payload = tempMeas2Avg;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1080,"wires":[["1b7c1a77.673066","2ca85c4b.6d5f24"]]},{"id":"1b7c1a77.673066","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":7,"width":0,"height":0,"name":"","label":"Temp 2","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":1080,"wires":[]},{"id":"68732b1e.19f124","type":"function","z":"a7b9d689.b8a5e8","name":"get tempMeas3Avg ","func":"if (msg.topic != 'tempMeas3Avg') return null;\nvar tempMeas3Avg = Number(msg.payload);\nmsg.payload = tempMeas3Avg;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1140,"wires":[["2b1bb240.efe02e"]]},{"id":"2b1bb240.efe02e","type":"ui_text","z":"a7b9d689.b8a5e8","group":"cd43730b.039a3","order":8,"width":0,"height":0,"name":"","label":"Temp 3","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":1140,"wires":[]},{"id":"4826d29b.6a635c","type":"ui_text","z":"a7b9d689.b8a5e8","group":"1210ff6c.deb381","order":1,"width":"6","height":"1","name":"overITrip","label":"Over Current Trip","format":"<font color={{(msg.payload == true) ? '#ff0000' : '#333333'}} size='6' ><i class=\"fa fa-circle\"></i></font>","layout":"row-spread","x":1060,"y":1200,"wires":[]},{"id":"a5fe6856.690628","type":"function","z":"a7b9d689.b8a5e8","name":"get overITrip","func":"if (msg.topic != 'overI') return null;\nvar overI = Number(msg.payload);\nmsg.payload = false;\nif (overI == 1) msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1200,"wires":[["4826d29b.6a635c"]]},{"id":"2bbf7f89.edbfb","type":"ui_text","z":"a7b9d689.b8a5e8","group":"1210ff6c.deb381","order":2,"width":"6","height":"1","name":"overILeakTrip","label":"Over Current Leak Trip","format":"<font color={{(msg.payload == true) ? '#ff0000' : '#333333'}} size='6' ><i class=\"fa fa-circle\"></i></font>","layout":"row-spread","x":1040,"y":1260,"wires":[]},{"id":"a152c2d6.8211e","type":"function","z":"a7b9d689.b8a5e8","name":"get overILeakTrip","func":"if (msg.topic != 'overILeakTrip') return null;\nvar overILeakTrip = Number(msg.payload);\nmsg.payload = false;\nif (overILeakTrip == 1) msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1260,"wires":[["2bbf7f89.edbfb"]]},{"id":"3f42a857.022908","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"getOverITrip","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":1080,"y":260,"wires":[["65b71d62.299bb4"]]},{"id":"ce0805ba.de0ba8","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"getOverILeakTrip","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":1070,"y":300,"wires":[["65b71d62.299bb4"]]},{"id":"4e5fff8.23fb4","type":"function","z":"a7b9d689.b8a5e8","name":"get Power","func":"if (msg.topic != 'power') return null;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":960,"wires":[["1f525235.e2746e","a05caf91.2605"]]},{"id":"1f525235.e2746e","type":"ui_text","z":"a7b9d689.b8a5e8","group":"3ed7ea5d.cf28d6","order":5,"width":0,"height":0,"name":"","label":"Power","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":960,"wires":[]},{"id":"e3ef0d7b.80341","type":"ui_chart","z":"a7b9d689.b8a5e8","name":"","group":"382d0ba9.2118c4","order":1,"width":0,"height":0,"label":"Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"250","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1340,"y":920,"wires":[[],[]]},{"id":"8589e2d5.7e2fa","type":"ui_chart","z":"a7b9d689.b8a5e8","name":"","group":"bdae737b.c2c4d","order":2,"width":0,"height":0,"label":"Current","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1340,"y":960,"wires":[[],[]]},{"id":"a05caf91.2605","type":"ui_chart","z":"a7b9d689.b8a5e8","name":"","group":"e91cdb34.bdc548","order":3,"width":0,"height":0,"label":"Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1330,"y":1000,"wires":[[],[]]},{"id":"2ca85c4b.6d5f24","type":"ui_chart","z":"a7b9d689.b8a5e8","name":"","group":"19796e0f.0261a2","order":4,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1350,"y":1040,"wires":[[],[]]},{"id":"285e9277.8296fe","type":"function","z":"a7b9d689.b8a5e8","name":"Filter to 1Hz","func":"var lastTime = context.get('lastTime');\nif (lastTime == undefined) lastTime = 0;\nvar now = new Date().getTime();\nif ((now - lastTime) > 1000)\n{\n    context.set('lastTime', now);\n}\nelse\n{\n    msg = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":720,"wires":[[]]},{"id":"18b1dab.4595025","type":"ui_numeric","z":"a7b9d689.b8a5e8","name":"setQTop","label":"Set qTop","group":"e0ca25d8.078db8","order":3,"width":0,"height":0,"passthru":false,"topic":"setQTop","format":"{{value}}","min":0,"max":"255","step":1,"x":900,"y":200,"wires":[["cb3c540c.c14798"]]},{"id":"222599e5.7a6816","type":"ui_text","z":"a7b9d689.b8a5e8","group":"e0ca25d8.078db8","order":4,"width":0,"height":0,"name":"","label":"Get qTop","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":780,"wires":[]},{"id":"6dc164a2.ee30dc","type":"ui_text","z":"a7b9d689.b8a5e8","group":"e0ca25d8.078db8","order":2,"width":"6","height":"1","name":"","label":"Get Enable","format":"<font color={{(msg.payload == true) ? '#00ff00' : '#333333'}} size='6' ><i class=\"fa fa-circle\"></i></font>","layout":"row-spread","x":1050,"y":720,"wires":[]},{"id":"eea5a7ca.232ec8","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"setQEnable","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":1060,"y":40,"wires":[["65b71d62.299bb4"]]},{"id":"983278ec.3515b8","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"setQEnable","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"1","x":150,"y":140,"wires":[["e9f8a0e9.5e14c","f1617fbd.7b1c6"]]},{"id":"f1617fbd.7b1c6","type":"delay","z":"a7b9d689.b8a5e8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":200,"wires":[["4cd5a8a.455fb58"]]},{"id":"4cd5a8a.455fb58","type":"function","z":"a7b9d689.b8a5e8","name":"Set qTop = 0","func":"msg.enabled = msg.payload;\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":200,"wires":[["18b1dab.4595025"]]},{"id":"59464e1c.e0ede","type":"link out","z":"a7b9d689.b8a5e8","name":"Get MQTT","links":["cdfc0d41.7e10c","f09e59aa.8f7808","4380b35d.d22e2c","f1a82bba.91b8e8","d734ae5c.998d9","7bc837b6.aa3b68","b7cf5171.b2241","77953870.bd6148","2130eac7.6361e6","24e10105.9b8b7e","b31c3de2.0b723","16c255cc.ed04ca","3ed1882d.223fa8","1708c520.f7d8bb","22af9815.cdbd48","eeef2a3b.3e09d8","71ae3fa8.07472"],"x":455,"y":800,"wires":[]},{"id":"cdfc0d41.7e10c","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":660,"wires":[["e24f0c76.abb02"]]},{"id":"f09e59aa.8f7808","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":720,"wires":[["b57744f.2c979b8"]]},{"id":"4380b35d.d22e2c","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":780,"wires":[["ecdca90.750ec58"]]},{"id":"f1a82bba.91b8e8","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":840,"wires":[["40544b39.e20a94"]]},{"id":"d734ae5c.998d9","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":900,"wires":[["e66fb776.3c2f18"]]},{"id":"7bc837b6.aa3b68","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":960,"wires":[["4e5fff8.23fb4"]]},{"id":"b7cf5171.b2241","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":1020,"wires":[["2b64ccbe.9af8c4"]]},{"id":"77953870.bd6148","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":1082,"wires":[["27d97eb6.56e172"]]},{"id":"2130eac7.6361e6","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":1140,"wires":[["68732b1e.19f124"]]},{"id":"24e10105.9b8b7e","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":1200,"wires":[["a5fe6856.690628"]]},{"id":"b31c3de2.0b723","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":1260,"wires":[["a152c2d6.8211e"]]},{"id":"e52bf30.148bf1","type":"ui_text_input","z":"a7b9d689.b8a5e8","name":"","label":"Set HeartBeatRate","group":"bf965a48.bca8e8","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"setHeartBeatRate","x":1070,"y":360,"wires":[["65b71d62.299bb4"]]},{"id":"fbff261e.aead18","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"setHeartBeatRate","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"2","x":770,"y":360,"wires":[["e52bf30.148bf1"]]},{"id":"2be6f33.8d30e0c","type":"function","z":"a7b9d689.b8a5e8","name":"get heatBeatRate","func":"if (msg.topic != 'heartBeatRate') return null;\nvar heartBeatRate = Number(msg.payload);\nmsg.payload = heartBeatRate;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1320,"wires":[["603fb529.7e2e5c"]]},{"id":"3ed1882d.223fa8","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":1320,"wires":[["2be6f33.8d30e0c"]]},{"id":"603fb529.7e2e5c","type":"ui_text","z":"a7b9d689.b8a5e8","group":"bf965a48.bca8e8","order":2,"width":0,"height":0,"name":"","label":"Get Heartbeat Rate","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":1320,"wires":[]},{"id":"27022dd0.ebe0d2","type":"function","z":"a7b9d689.b8a5e8","name":"get qTopRampDelay","func":"if (msg.topic != 'qTopRampDelay') return null;\nvar qTopRampDelay = Number(msg.payload);\nmsg.payload = qTopRampDelay;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1380,"wires":[["55cdce8b.4e753"]]},{"id":"1708c520.f7d8bb","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":1380,"wires":[["27022dd0.ebe0d2"]]},{"id":"55cdce8b.4e753","type":"ui_text","z":"a7b9d689.b8a5e8","group":"e0529c1.49c216","order":2,"width":0,"height":0,"name":"","label":"Get qTopRampDelay","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":1380,"wires":[]},{"id":"3be3ddd0.210c62","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"setQTopRampDelay","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"2","x":770,"y":400,"wires":[["3118a338.b2133c"]]},{"id":"695ec67c.c3e678","type":"ui_text_input","z":"a7b9d689.b8a5e8","name":"","label":"Set Nsamples","group":"bf965a48.bca8e8","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"setNsamples","x":1080,"y":440,"wires":[["65b71d62.299bb4"]]},{"id":"c62c3413.4c4568","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"setNsamples","payload":"6100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"2","x":750,"y":440,"wires":[["695ec67c.c3e678"]]},{"id":"afee04ce.533c78","type":"function","z":"a7b9d689.b8a5e8","name":"get nsamples","func":"if (msg.topic != 'nsamples') return null;\nvar nsamples = Number(msg.payload);\nmsg.payload = nsamples;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1440,"wires":[["9a65042d.23ff68"]]},{"id":"22af9815.cdbd48","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":1440,"wires":[["afee04ce.533c78"]]},{"id":"9a65042d.23ff68","type":"ui_text","z":"a7b9d689.b8a5e8","group":"bf965a48.bca8e8","order":4,"width":0,"height":0,"name":"","label":"Get Nsamples","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":1440,"wires":[]},{"id":"bd008fa4.e11fb","type":"function","z":"a7b9d689.b8a5e8","name":"get maxInterruptCounts","func":"if (msg.topic != 'maxInterruptCounts') return null;\nvar maxInterruptCounts = Number(msg.payload);\nmsg.payload = maxInterruptCounts;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1500,"wires":[["f723d47b.0b54d8"]]},{"id":"eeef2a3b.3e09d8","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":1500,"wires":[["bd008fa4.e11fb"]]},{"id":"f723d47b.0b54d8","type":"ui_text","z":"a7b9d689.b8a5e8","group":"e0529c1.49c216","order":4,"width":0,"height":0,"name":"","label":"Get MaxInterruptCounts","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":1500,"wires":[]},{"id":"96d63f42.f3e29","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"setMaxInterruptCounts","payload":"3","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"2","x":770,"y":480,"wires":[["64348e29.eed9a"]]},{"id":"64348e29.eed9a","type":"ui_numeric","z":"a7b9d689.b8a5e8","name":"","label":"Set MaxInterruptCounts","group":"e0529c1.49c216","order":3,"width":0,"height":0,"passthru":false,"topic":"setMaxInterruptCounts","format":"{{value}}","min":0,"max":"100","step":1,"x":1050,"y":480,"wires":[["65b71d62.299bb4"]]},{"id":"3118a338.b2133c","type":"ui_numeric","z":"a7b9d689.b8a5e8","name":"","label":"Set QTopRampDelay","group":"e0529c1.49c216","order":1,"width":0,"height":0,"passthru":false,"topic":"setQTopRampDelay","format":"{{value}}","min":"1","max":"500","step":1,"x":1060,"y":400,"wires":[["65b71d62.299bb4"]]},{"id":"ae516ac7.815fe8","type":"inject","z":"a7b9d689.b8a5e8","name":"","topic":"setQTopDropPerInterrupt","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"2","x":780,"y":520,"wires":[["748cb6d8.95ec88"]]},{"id":"748cb6d8.95ec88","type":"ui_numeric","z":"a7b9d689.b8a5e8","name":"","label":"Set QTopDropPerInterrupt","group":"e0529c1.49c216","order":5,"width":0,"height":0,"passthru":false,"topic":"setQTopDropPerInterrupt","format":"{{value}}","min":0,"max":"255","step":1,"x":1050,"y":520,"wires":[["65b71d62.299bb4"]]},{"id":"8005d1be.88b43","type":"function","z":"a7b9d689.b8a5e8","name":"get qTopDropPerInterrupt","func":"if (msg.topic != 'qTopDropPerInterrupt') return null;\nvar qTopDropPerInterrupt = Number(msg.payload);\nmsg.payload = qTopDropPerInterrupt;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1560,"wires":[["99614177.e7de7"]]},{"id":"71ae3fa8.07472","type":"link in","z":"a7b9d689.b8a5e8","name":"","links":["59464e1c.e0ede"],"x":575,"y":1560,"wires":[["8005d1be.88b43"]]},{"id":"99614177.e7de7","type":"ui_text","z":"a7b9d689.b8a5e8","group":"e0529c1.49c216","order":6,"width":0,"height":0,"name":"","label":"Get QTopDropPerInterrupt","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":1560,"wires":[]}]